.o_dialog {
    .o_warning_missing_google_form_view_dialog {
        .o_dark {
            background-color: black;
        }
        .o_codeview {
            color: white;
            font-weight: 400;
            font-family: 'Courier New', Courier, monospace;
        }
    }
}